 <!-- ==================== PROGRAM ==================== -->
 <section class="program section" id="program">
    <div class="container">
        <div class="section_data">
            <h2 class="section_subtitle">Strength Training</h2>
            <div class="section_titles">
                <h1 class="section_title-border">Your</h1>
                <h1 class="section_title">Perfect Routine</h1>
            </div>
        </div>

        <div class="row program_container">
            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Core</h3>
                    <p class="program_description">
                        Strengthens abdominal muscles, promoting better posture, stability, and overall balance, crucial for supporting the spine and enhancing athletic performance in various activities.
                    </p>                            
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Triceps</h3>
                    <p class="program_description">
                        Tones and strengthens the arms, improving overall arm stability and enhancing athletic performance in various activities.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Shoulders</h3>
                    <p class="program_description">
                        Develop deltoid muscles, improving upper body strength, posture, and stability for enhanced performance in sports and daily tasks.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Biceps</h3>
                    <p class="program_description">
                        Strength and definition in the arms, enhancing both functional performance and aesthetic appearance.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Forearm</h3>
                    <p class="program_description">
                        Increase grip strength and forearm endurance, improving performance in activities requiring grip and wrist stability, such as lifting, climbing, and sports like rock climbing or tennis.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Chest</h3>
                    <p class="program_description">
                       Build pectoral muscles, enhancing upper body strength and posture while contributing to a balanced physique and improved performance in activities like pushing and lifting.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Back</h3>
                    <p class="program_description">
                        Strengthen the muscles of the back, promoting better posture and enhancing overall stability and strength for activities involving lifting, pulling, and maintaining spinal health.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Quads</h3>
                    <p class="program_description">
                       Strengthen the front thigh muscles, improving lower body strength, stability, and agility for activities like running, jumping, and squatting.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Hamstrings</h3>
                    <p class="program_description">
                        Develop the muscles at the back of the thigh, enhancing lower body strength, flexibility, and stability, crucial for optimal performance in activities like running, jumping, and bending movements.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col col-lg-5 program_card flex">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <div>
                    <h3 class="program_title">Glutes</h3>
                    <p class="program_description">
                        Strengthen and tone the buttock muscles, improving posture, power, and stability in movements, essential for overall lower body strength and athletic performance.
                    </p>
                    
                </div>
                <a href="/list" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
        </div>
</section>