<!-- ==================== FOOTER ==================== -->
<footer class="footer section" id="footer">
    <div class="footer_container container grid">
        <div>
            <a href="/" class="footer_logo">
                <img src="/img/logo.png" alt="">
            </a>
            <p class="footer_description">
                Subscribe for company updates below.
            </p>

            <form action="" class="footer_form" id="contact-form">
                <input type="email" name="user_email" placeholder="Your Email" class="footer_input"
                    id="contact-user">
                <button type="submit" class="button">
                    Subscribe
                </button>
            </form>

            <p class="footer_message" id="contact-message"></p>
        </div>

        <div class="footer_content">
            <div>
                <h3 class="footer_title">Services</h3>

                <ul class="footer_links">
                    <li>
                        <a href="/" class="footer_link">Flex Muscle</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Cardio Exercises</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Basic Yoga</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Weight Lifting</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="footer_title">Pricing</h3>

                <ul class="footer_links">
                    <li>
                        <a href="/" class="footer_link">Basic</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Standard</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Diamond</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="footer_title">Company</h3>

                <ul class="footer_links">
                    <li>
                        <a href="/" class="footer_link">About Us</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Careers</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Customers</a>
                    </li>
                    <li>
                        <a href="/" class="footer_link">Partners</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer_group">
            <ul class="footer_social">
                <a href="/" class="footer_social-link">
                    <i class="ri-facebook-circle-fill"></i>
                </a>
                <a href="/" class="footer_social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="/" class="footer_social-link">
                    <i class="ri-youtube-line"></i>
                </a>
            </ul>

            <span class="footer_copy">
                &#169; 2024 Copyright B-Fit. All rights reserved.
            </span>
        </div>
    </div>
</footer>