<!-- ==================== HOME ==================== -->
<section class="home section" id="home"  style="background: #1d2020;">
    <div class="home_container container grid">
        <div class="home_data">
            <h2 class="home_subtitle"><%= homeSubtitle %></h2>
            <p class="home_description">
                <%= homeDescription %>
            </p>
        </div>
    </div>
</section>