<!-- ==================== EXERCISES ==================== -->
<section class="exercises section">
    <div class="exercises_container container grid">
        <div class="exercises_content">
            <div class="section_data text-start mb-0">
                <h2 class="section_subtitle">Build your</h2>
                <div class="section_titles" style="justify-content: start;">
                    <h1 class="section_title">Perfect</h1>
                    <h1 class="section_title-border">Body</h1>
                </div>
            </div>
            <p class="exercises_description">
                Estimate if your body weight is healthy or if you are underweight, overweight, or obese.
            </p>

            <div class="row program_container">
                <article class="program_card">
                    <h3 class="program_title">Exercises</h3>
                    <p class="program_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </article>
                <article class="program_card">
                    <h3 class="program_title">Nutrition</h3>
                    <p class="program_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </article>
            </div>
        </div>

        <img src="/img/calculate-img.png" alt="" class="exercises_img">
    </div>
</section>