<!-- ==================== HOME ==================== -->
<section class="home section" id="home">
    <div class="home_container container grid">
        <div class="home_data">
            <h2 class="home_subtitle">Welcome to</h2>
            <h1 class="home_title">B-Fit</h1>
            <p class="home_description">
                We offer a variety of fitness programs tailored to meet your needs and goals.
            </p>
            <a href="/" class="button button_flex">
                Get Started <i class="ri-arrow-right-line"></i>
            </a>
        </div>

        <div class="home_images">
            <img src="/img/home-img.png" alt="" class="home_img">

            <div class="home_triangle home_triangle-3"></div>
            <div class="home_triangle home_triangle-2"></div>
            <div class="home_triangle home_triangle-1"></div>
        </div>
    </div>
</section> 