<!-- ==================== PROGRAM ==================== -->
<section class="program section" id="program">
    <div class="container">
        <div class="section_data">
            <h2 class="section_subtitle">Nutrition</h2>
            <div class="section_titles">
                <h1 class="section_title-border">Find what</h1>
                <h1 class="section_title">you Need</h1>
            </div>
        </div>

        <div class="row program_container">
            <article class="col program_card">
                <div class="program_shape">
                    <img src="/img/program1.png" alt="" class="program_img">
                </div>
                <h3 class="program_title">Nutrition</h3>
                <p class="program_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <a href="/" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col program_card2">
                <div class="program_shape">
                    <img src="/img/program2.png" alt="" class="program_img">
                </div>
                <h3 class="program_title">Exercises</h3>
                <p class="program_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <a href="/" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col program_card">
                <div class="program_shape">
                    <img src="/img/program3.png" alt="" class="program_img">
                </div>
                <h3 class="program_title">Title</h3>
                <p class="program_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <a href="/" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

        </div>
    </div>
</section>