<!-- ==================== PRICING ==================== -->
<section class="pricing section" id="pricing">
    <div class="container">
        <div class="section_data">
            <div class="section_titles">
                <h1 class="section_title-border">Our</h1>
                <h1 class="section_title">Special Plans</h1>
            </div>
        </div>

        <div class="pricing_container grid">
            <article class="pricing_card">
                <header class="pricing_header">
                    <div class="pricing_shape">
                        <img src="/img/pricing1.png" alt="" class="pricing_img">
                    </div>

                    <h1 class="pricing_title">BASIC PLAN</h1>
                    <h2 class="pricing_number">$299<span>/mo</span></h2>
                </header>

                <ul class="pricing_list">
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> 3 days in a week
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> 1 bottle of protein
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line pricing_item-opacity"></i> HIIT (High-Intensity
                        Interval Training) Workouts
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line pricing_item-opacity"></i> Muscle stretching
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line pricing_item-opacity"></i> Pilates Classes
                    </li>
                </ul>

                <a href="/" class="button button_flex pricing_button">
                    Purchase Now <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="pricing_card pricing_card-active">
                <header class="pricing_header">
                    <div class="pricing_shape">
                        <img src="/img/pricing2.png" alt="" class="pricing_img">
                    </div>

                    <h1 class="pricing_title">STANDARD PLAN</h1>
                    <h2 class="pricing_number">$499<span>/mo</span></h2>
                </header>

                <ul class="pricing_list">
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> 5 days in a week
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> 1 bottle of protein
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> HIIT (High-Intensity Interval Training) Workouts
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line pricing_item-opacity"></i> Muscle stretching
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line pricing_item-opacity"></i> Pilates Classes
                    </li>
                </ul>

                <a href="/" class="button button_flex pricing_button">
                    Order Now <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="pricing_card">
                <header class="pricing_header">
                    <div class="pricing_shape">
                        <img src="/img/pricing3.png" alt="" class="pricing_img">
                    </div>

                    <h1 class="pricing_title">DIAMOND PACKAGE</h1>
                    <h2 class="pricing_number">$999<span>/mo</span></h2>
                </header>

                <ul class="pricing_list">
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> 7 days in a week
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> 1 bottle of protein
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> HIIT (High-Intensity Interval Training) Workouts
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> Muscle stretching
                    </li>
                    <li class="pricing_item">
                        <i class="ri-checkbox-circle-line"></i> Pilates Classes
                    </li>
                </ul>

                <a href="/" class="button button_flex pricing_button">
                    Get Started <i class="ri-arrow-right-line"></i>
                </a>
            </article>
        </div>
    </div>
</section>