 <!-- ==================== LOGIN ==================== -->
 <section class="login section" id="login">
    <div class="container">
        <div class="login_container grid">
            <article class="login_card">
                <form id="loginForm" class="login_form">
                    <div class="login_field">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="login_field">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="login_actions">
                        <button type="submit" class="login_button">Log In</button>
                        <a href="/forgot-password" class="login_link">Forgot your password?</a>
                        <a href="/sign-up" class="login_link">New here? Sign up now!</a>
                    </div>
                </form>
            </article>
        </div>
    </div>
</section>

<!-- Import Firebase Initialization JavaScript Module -->
<script type="module" src="/js/firebase-init.js"></script>
