<!-- ==================== FORGOT PASSWORD ==================== -->
<section class="login section" id="forgot-password">
    <div class="container">
        <div class="login_container grid">
            <article class="login_card">
                <form id="forgotPasswordForm" class="login_form">
                    <div class="login_field">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="login_actions">
                        <button type="submit" class="login_button">Send</button>
                        <a href="/login" class="login_link">Back to Login</a>
                    </div>
                </form>
            </article>
        </div>
    </div>
</section>

<!-- Import Firebase Initialization JavaScript Module -->
<script type="module" src="/js/firebase-init.js"></script>