<!-- ==================== PROGRAM ==================== -->
<section class="program section" id="program">
    <div class="container">
        <div class="section_data">
            <h2 class="section_subtitle">Exercises</h2>
            <div class="section_titles">
                <h1 class="section_title-border">Find your</h1>
                <h1 class="section_title">Routine</h1>
            </div>
        </div>

        <div class="row program_container">
            <article class="col program_card">
                <div class="exercises_shape">
                    <img src="/img/strenght.jpg" alt="" class="exercises_img">
                </div>
                <h3 class="program_title">Strength Training</h3>
                <p class="program_description">
                   Targeted exercises for muscles, emphasizing consistency and progressive overload for optimal results in fitness and wellbeing.
                </p>
                <a href="/strength" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col program_card2">
                <div class="exercises_shape">
                    <img src="/img/aerobics.jpg" alt="" class="exercises_img">
                </div>
                <h3 class="program_title">Aerobics</h3>
                <p class="program_description">
                    Enhance your cardiovascular health and boost overall endurance, promoting increased energy levels and improved mood.
                </p>
                <a href="/" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

            <article class="col program_card">
                <div class="exercises_shape">
                    <img src="/img/cardio.jpg" alt="" class="exercises_img">
                </div>
                <h3 class="program_title">Cardio</h3>
                <p class="program_description">
                     Strengthen effectively your heart and lungs, fostering better circulation and greater stamina for daily activities.
                </p>
                <a href="/" class="program_button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>

        </div>
    </div>
</section>