<section class="home section" id="home">
    <div class="container">
        <div id="weather"></div>
        <div class="section_data">
            <h2 class="section_subtitle">Based on Weather</h2>
            <div class="section_titles">
                <h1 class="section_title-border">Core</h1>
                <h1 class="section_title">Exercises</h1>
            </div>
        </div>
        <div id="exercises" class="exercise-list"></div>
    </div>
</section>